FCG.MS.Payments.Domain/obj
FCG.MS.Payments.Application/obj/project.packagespec.json
FCG.MS.Payments.API/obj/rider.project.restore.info
FCG.MS.Payments.API/obj/rider.project.model.nuget.info
FCG.MS.Payments.Infrastructure/obj/rider.project.model.nuget.info
FCG.MS.Payments.Domain/obj/rider.project.restore.info
FCG.MS.Payments.Domain/obj/rider.project.model.nuget.info
FCG.MS.Payments.Application/obj/rider.project.restore.info
FCG.MS.Payments.API/obj/rider.project.restore.info
FCG.MS.Payments.API/obj/rider.project.model.nuget.info
FCG.MS.Payments.Infrastructure/obj/Debug/net8.0/FCG.MS.Payments.Infrastructure.AssemblyInfoInputs.cache
FCG.MS.Payments.Infrastructure/obj/Debug/net8.0/FCG.MS.Payments.Infrastructure.AssemblyInfo.cs
FCG.MS.Payments.Infrastructure/obj/rider.project.model.nuget.info
FCG.MS.Payments.Infrastructure/obj/project.packagespec.json
FCG.MS.Payments.Domain/obj/Debug/net8.0/FCG.MS.Payments.Domain.AssemblyInfoInputs.cache
FCG.MS.Payments.Domain/obj/Debug/net8.0/FCG.MS.Payments.Domain.AssemblyInfo.cs
FCG.MS.Payments.Domain/obj/rider.project.restore.info
FCG.MS.Payments.Domain/obj/rider.project.model.nuget.info
FCG.MS.Payments.Domain/obj/project.packagespec.json
FCG.MS.Payments.Application/obj/Debug/net8.0/FCG.MS.Payments.Application.AssemblyInfoInputs.cache
FCG.MS.Payments.Application/obj/Debug/net8.0/FCG.MS.Payments.Application.AssemblyInfo.cs
FCG.MS.Payments.Application/obj/rider.project.restore.info
FCG.MS.Payments.Application/obj/rider.project.model.nuget.info
FCG.MS.Payments.Application/obj/project.packagespec.json
FCG.MS.Payments.API/obj/Debug/net8.0/FCG.MS.Payments.API.AssemblyInfoInputs.cache
FCG.MS.Payments.API/obj/Debug/net8.0/FCG.MS.Payments.API.AssemblyInfo.cs
FCG.MS.Payments.API/obj/rider.project.restore.info
FCG.MS.Payments.API/obj/rider.project.model.nuget.info
FCG.MS.Payments.API/obj/project.packagespec.json
FCG.MS.Payments.API/obj/project.packagespec.json
FCG.MS.Payments.API/obj/rider.project.model.nuget.info
FCG.MS.Payments.API/obj/rider.project.restore.info
FCG.MS.Payments.API/obj/Debug/net8.0/FCG.MS.Payments.API.AssemblyInfo.cs
FCG.MS.Payments.API/obj/Debug/net8.0/FCG.MS.Payments.API.AssemblyInfoInputs.cache
FCG.MS.Payments.Application/obj/project.packagespec.json
FCG.MS.Payments.Application/obj/rider.project.model.nuget.info
FCG.MS.Payments.Application/obj/rider.project.restore.info
FCG.MS.Payments.Application/obj/Debug/net8.0/FCG.MS.Payments.Application.AssemblyInfo.cs
FCG.MS.Payments.Application/obj/Debug/net8.0/FCG.MS.Payments.Application.AssemblyInfoInputs.cache
FCG.MS.Payments.Domain/obj/project.packagespec.json
FCG.MS.Payments.Domain/obj/rider.project.model.nuget.info
FCG.MS.Payments.Domain/obj/rider.project.restore.info
FCG.MS.Payments.Domain/obj/Debug/net8.0/FCG.MS.Payments.Domain.AssemblyInfo.cs
FCG.MS.Payments.Domain/obj/Debug/net8.0/FCG.MS.Payments.Domain.AssemblyInfoInputs.cache
FCG.MS.Payments.Infrastructure/obj/project.packagespec.json
FCG.MS.Payments.Infrastructure/obj/rider.project.model.nuget.info
FCG.MS.Payments.Infrastructure/obj/Debug/net8.0/FCG.MS.Payments.Infrastructure.AssemblyInfo.cs
FCG.MS.Payments.Infrastructure/obj/Debug/net8.0/FCG.MS.Payments.Infrastructure.AssemblyInfoInputs.cache
